.resume {

  text-align: left;
  position: relative;
  color: #333333;

  ul {
    list-style: none;
    margin: 0px;
  }

  a {
    color: #333333;
  }

  h3 {
    margin-left: 10px;
  }

  h4, h5 {
    margin-top: 15px;
  }

  article {
    border-bottom: 1px solid #dddddd;
  }

}

.welcome {
  font-size: 24px;
  text-indent: 0px;
  line-height: 30px;
}
.auth {
  text-align: right;
  font-size: 16px;
}
.skills {
  border: 0;
}

.resume .download-resume {
    position: absolute;
    right: 20px;
    bottom: 0px;
  }